<div class="allocate project">
  <h1>Allocate price plan to a user</h1>
  <form action="">
    <input type="text" name="user" class="user inputs" placeholder="username" />
    <div class="planOpt">
      <select name="plans" id="plans" class="plans">
        <option value="" selected="true">Select a plan</option>
        <option value="sms100">SMS 100</option>
        <option value="sms200">SMS 200</option>
        <option value="weekly">Call Weekly</option>
      </select>
      <button type="submit" class="allocateBtn">Allocate</button>
    </div>
  </form>
</div>