<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculate Bill</title>
    <link rel="stylesheet" href="/css/phoneBill.css" />
  </head>
  <body>
    <div class="nav">
      <ul class="links">
        <a href=""><li>Home</li></a>
        <a href=""><li>Price Plans</li></a>
        <a href=""><li>Link User</li></a>
      </ul>
    </div>
    <div class="calculate project">
      <h1>Phone Bill Widget</h1>
      <h3>Calculate total phone bill for a user</h3>
      <div class="calcForm">
        <form action="">
          <input
            type="text"
            name="username"
            class="username inputs"
            placeholder="Enter username"
          />
          <input
            type="text"
            name="usageString"
            class="usageString inputs"
            placeholder="Enter usage string"
          />
          <button class="calcBtn">Calculate total phone bill</button>
        </form>
        <h3>Phone bill total</h3>
        <div class="tot"></div>
      </div>
    </div>
  </body>
</html>