<div class="pricePlans project">
  <div class="nav">
    <ul class="links">
      <a href="/"><li>Home</li></a>
      <a href="/price_plans"><li>Price Plans</li></a>
      <a href="/link_user"><li>Link User</li></a>
    </ul>
  </div>
  <h1>Price plans</h1>
  <div class="plan">
    <ul class="currentPlan">
      <li class="smsPlan planType">SMS 100</li>
      <a href=""><li class="viewPlan">View users</li></a>
    </ul>
  </div>
  <div class="plan">
    <ul class="currentPlan">
      <li class="smsPlan1 planType">SMS 200</li>
      <a href=""><li class="viewPlan">View users</li></a>
    </ul>
  </div>
  <div class="plan">
    <ul class="currentPlan">
      <li class="callPlan planType">Call weekly</li>
      <a href=""><li class="viewPlan">View users</li></a>
    </ul>
  </div>
</div>