<div class="pricePlans project">
  <div class="nav">
    <ul class="links">
      <a href="/"><li>Home</li></a>
      <a href="/price_plans"><li>Price Plans</li></a>
      <a href="/link_user"><li>Link User</li></a>
    </ul>
  </div>
  <h1>Price plans</h1>
  {{#each plans}}
    <div class="plan">
      <ul class="currentPlan">
        <li class="smsPlan planType">{{this.plan_name}}</li>
        <a href="/price_plans/{{this.id}}"><li class="viewPlan">View users</li></a>
      </ul>
    </div>
  {{/each}}

</div>