
    <div class="planUsers">
      <h1>Users with price plan</h1>
      <h1>Price plan:SMS 100</h1>
      <ul class="userList">
        <li>Ntsakelo</li>
        <li>Thabo</li>
      </ul>
    </div>
  </body>

