
    <div class="planUsers">
  <div class="nav">
      <ul class="links">
        <a href="/"><li>Home</li></a>
        <a href="/price_plans"><li>Price Plans</li></a>
        <a href="/link_user"><li>Link User</li></a>
      </ul>
    </div>
      <p class="msg">{{messages.info}}</p>
      <h1>Users with price plan</h1>
      <h1>Price plan:SMS 100</h1>
      <ul class="userList">
        {{#each users}}
        <li>{{this.username}}</li>
        {{/each}}
      </ul>
    </div>
  </body>

